<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="objectscript-math.ZPM">
    <Module>
      <Name>objectscript-math</Name>
      <Version>0.0.4</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Math.PKG"/>
      <Resource Name="Math.inc"/>
	  <UnitTest Name="src/cls/UnitTests" Package="UnitTests" Phase="test"/>
    </Module>
  </Document>
</Export>